@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.container
{
    position: relative;
    background-image: url("Images/Background.png") ;
    background-size: cover;
    padding: 25px;
    border-radius:  30px; ;
    max-width: 420px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header.logo
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img
{
    width: 50px;
    margin-right: 10px;
}

header .visa 
{
    width: 50px;
    align-items: center;
    justify-content: space-between;
    position: absolute ;
    top: 45pt;
    right: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
}

h1 
{
    font-size: 16px;
    font-weight: 400;
    color: white;
}

header .chip
{
    margin-top: 4px;
    width: 52px;
    margin-right: 10px;
}

h2
{
    font-size: 14px;
    font-weight: 400;
    color: white;
}

h1.number
{
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-top: 4px;
}

h1.name
{
    margin-top: 20px;
}


.container .card-details
{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}